.mainStyle {
    width: 100vh;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px ;
    margin-left: 30px;
}

.input {
    margin-bottom: 20px;
    margin-left: 30px;
    width: 45%;
    height: 20px;
    border-radius: 5px;
    border: 1px grey solid;
    padding: 5px 15px;
}
.inputName {
    margin-left: 30px;
}

.inputComment {
    display: flex;
    margin: 0 30px 20px 30px;
    justify-content: first baseline;
    width: 85%;
    height: 100px;
    border-radius: 5px;
    border: 1px grey solid;
    padding: 5px 15px;
}

.btn {
    background-color: green;
}